# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/


archive/Images/ytma10_010704_benign1_ccd.tif
archive/Images/ytma10_010704_benign1_ccd.tif.xml
archive/Images/ytma10_010704_benign2_ccd.tif
archive/Images/ytma10_010704_benign2_ccd.tif.xml
archive/Images/ytma10_010704_benign3_ccd.tif
archive/Images/ytma10_010704_benign3_ccd.tif.xml
archive/Images/ytma10_010704_malignant1_ccd.tif
archive/Images/ytma10_010704_malignant1_ccd.tif.xml
archive/Images/ytma10_010704_malignant2_ccd.tif
archive/Images/ytma10_010704_malignant2_ccd.tif.xml
archive/Images/ytma10_010704_malignant3_ccd.tif
archive/Images/ytma10_010704_malignant3_ccd.tif.xml
archive/Images/ytma12_010804_benign1_ccd.tif
archive/Images/ytma12_010804_benign1_ccd.tif.xml
archive/Images/ytma12_010804_benign2_ccd.tif
archive/Images/ytma12_010804_benign2_ccd.tif.xml
archive/Images/ytma12_010804_benign3_ccd.tif
archive/Images/ytma12_010804_benign3_ccd.tif.xml
archive/Images/ytma12_010804_malignant1_ccd.tif
archive/Images/ytma12_010804_malignant1_ccd.tif.xml
archive/Images/ytma12_010804_malignant2_ccd.tif
archive/Images/ytma12_010804_malignant2_ccd.tif.xml
archive/Images/ytma12_010804_malignant3_ccd.tif
archive/Images/ytma12_010804_malignant3_ccd.tif.xml
archive/Images/ytma23_022103_benign1_ccd.tif
archive/Images/ytma23_022103_benign1_ccd.tif.xml
archive/Images/ytma23_022103_benign2_ccd.tif
archive/Images/ytma23_022103_benign2_ccd.tif.xml
archive/Images/ytma23_022103_benign3_ccd.tif
archive/Images/ytma23_022103_benign3_ccd.tif.xml
archive/Images/ytma23_022103_malignant1_ccd.tif
archive/Images/ytma23_022103_malignant1_ccd.tif.xml
archive/Images/ytma23_022103_malignant2_ccd.tif
archive/Images/ytma23_022103_malignant2_ccd.tif.xml
archive/Images/ytma23_022103_malignant3_ccd.tif
archive/Images/ytma23_022103_malignant3_ccd.tif.xml
archive/Images/ytma49_042003_benign1_ccd.tif
archive/Images/ytma49_042003_benign1_ccd.tif.xml
archive/Images/ytma49_042003_benign2_ccd.tif
archive/Images/ytma49_042003_benign2_ccd.tif.xml
archive/Images/ytma49_042003_benign3_ccd.tif
archive/Images/ytma49_042003_benign3_ccd.tif.xml
archive/Images/ytma49_042003_malignant1_ccd.tif
archive/Images/ytma49_042003_malignant1_ccd.tif.xml
archive/Images/ytma49_042003_malignant2_ccd.tif
archive/Images/ytma49_042003_malignant2_ccd.tif.xml
archive/Images/ytma49_042003_malignant3_ccd.tif
archive/Images/ytma49_042003_malignant3_ccd.tif.xml
archive/Images/ytma49_042203_benign1_ccd.tif
archive/Images/ytma49_042203_benign1_ccd.tif.xml
archive/Images/ytma49_042203_benign2_ccd.tif
archive/Images/ytma49_042203_benign2_ccd.tif.xml
archive/Images/ytma49_042203_benign3_ccd.tif
archive/Images/ytma49_042203_benign3_ccd.tif.xml
archive/Images/ytma49_042203_malignant1_ccd.tif
archive/Images/ytma49_042203_malignant1_ccd.tif.xml
archive/Images/ytma49_042203_malignant2_ccd.tif
archive/Images/ytma49_042203_malignant2_ccd.tif.xml
archive/Images/ytma49_042203_malignant3_ccd.tif
archive/Images/ytma49_042203_malignant3_ccd.tif.xml
archive/Images/ytma49_042403_benign1_ccd.tif
archive/Images/ytma49_042403_benign1_ccd.tif.xml
archive/Images/ytma49_042403_benign2_ccd.tif
archive/Images/ytma49_042403_benign2_ccd.tif.xml
archive/Images/ytma49_042403_benign3_ccd.tif
archive/Images/ytma49_042403_benign3_ccd.tif.xml
archive/Images/ytma49_042403_malignant1_ccd.tif
archive/Images/ytma49_042403_malignant1_ccd.tif.xml
archive/Images/ytma49_042403_malignant2_ccd.tif
archive/Images/ytma49_042403_malignant2_ccd.tif.xml
archive/Images/ytma49_042403_malignant3_ccd.tif
archive/Images/ytma49_042403_malignant3_ccd.tif.xml
archive/Images/ytma49_072303_benign1_ccd.tif
archive/Images/ytma49_072303_benign1_ccd.tif.xml
archive/Images/ytma49_072303_benign2_ccd.tif
archive/Images/ytma49_072303_benign2_ccd.tif.xml
archive/Images/ytma49_072303_malignant1_ccd.tif
archive/Images/ytma49_072303_malignant1_ccd.tif.xml
archive/Images/ytma49_072303_malignant2_ccd.tif
archive/Images/ytma49_072303_malignant2_ccd.tif.xml
archive/Images/ytma49_111003_benign1_ccd.tif
archive/Images/ytma49_111003_benign1_ccd.tif.xml
archive/Images/ytma49_111003_benign2_ccd.tif
archive/Images/ytma49_111003_benign2_ccd.tif.xml
archive/Images/ytma49_111003_benign3_ccd.tif
archive/Images/ytma49_111003_benign3_ccd.tif.xml
archive/Images/ytma49_111003_malignant1_ccd.tif
archive/Images/ytma49_111003_malignant1_ccd.tif.xml
archive/Images/ytma49_111003_malignant2_ccd.tif
archive/Images/ytma49_111003_malignant2_ccd.tif.xml
archive/Images/ytma49_111003_malignant3_ccd.tif
archive/Images/ytma49_111003_malignant3_ccd.tif.xml
archive/Images/ytma49_111303_benign1_ccd.tif
archive/Images/ytma49_111303_benign1_ccd.tif.xml
archive/Images/ytma49_111303_benign2_ccd.tif
archive/Images/ytma49_111303_benign2_ccd.tif.xml
archive/Images/ytma49_111303_benign3_ccd.tif
archive/Images/ytma49_111303_benign3_ccd.tif.xml
archive/Images/ytma49_111303_malignant1_ccd.tif
archive/Images/ytma49_111303_malignant1_ccd.tif.xml
archive/Images/ytma49_111303_malignant2_ccd.tif
archive/Images/ytma49_111303_malignant2_ccd.tif.xml
archive/Images/ytma49_111303_malignant3_ccd.tif
archive/Images/ytma49_111303_malignant3_ccd.tif.xml
archive/Images/ytma55_030603_benign1_ccd.tif
archive/Images/ytma55_030603_benign1_ccd.tif.xml
archive/Images/ytma55_030603_benign2_ccd.tif
archive/Images/ytma55_030603_benign2_ccd.tif.xml
archive/Images/ytma55_030603_benign3_ccd.tif
archive/Images/ytma55_030603_benign3_ccd.tif.xml
archive/Images/ytma55_030603_benign4_ccd.tif
archive/Images/ytma55_030603_benign4_ccd.tif.xml
archive/Images/ytma55_030603_benign5_ccd.tif
archive/Images/ytma55_030603_benign5_ccd.tif.xml
archive/Images/ytma55_030603_benign6_ccd.tif
archive/Images/ytma55_030603_benign6_ccd.tif.xml
archive/Masks/ytma10_010704_benign1.TIF
archive/Masks/ytma10_010704_benign1.TIF.xml
archive/Masks/ytma10_010704_benign2.TIF
archive/Masks/ytma10_010704_benign2.TIF.xml
archive/Masks/ytma10_010704_benign3.TIF
archive/Masks/ytma10_010704_benign3.TIF.xml
archive/Masks/ytma10_010704_malignant1.TIF
archive/Masks/ytma10_010704_malignant1.TIF.xml
archive/Masks/ytma10_010704_malignant2.TIF
archive/Masks/ytma10_010704_malignant2.TIF.xml
archive/Masks/ytma10_010704_malignant3.TIF
archive/Masks/ytma10_010704_malignant3.TIF.xml
archive/Masks/ytma12_010804_benign1.TIF
archive/Masks/ytma12_010804_benign1.TIF.xml
archive/Masks/ytma12_010804_benign2.TIF
archive/Masks/ytma12_010804_benign2.TIF.xml
archive/Masks/ytma12_010804_benign3.TIF
archive/Masks/ytma12_010804_benign3.TIF.xml
archive/Masks/ytma12_010804_malignant1.TIF
archive/Masks/ytma12_010804_malignant1.TIF.xml
archive/Masks/ytma12_010804_malignant2.TIF
archive/Masks/ytma12_010804_malignant2.TIF.xml
archive/Masks/ytma12_010804_malignant3.TIF
archive/Masks/ytma12_010804_malignant3.TIF.xml
archive/Masks/ytma23_022103_benign1.TIF
archive/Masks/ytma23_022103_benign1.TIF.xml
archive/Masks/ytma23_022103_benign2.TIF
archive/Masks/ytma23_022103_benign2.TIF.xml
archive/Masks/ytma23_022103_benign3.TIF
archive/Masks/ytma23_022103_benign3.TIF.xml
archive/Masks/ytma23_022103_malignant1.TIF
archive/Masks/ytma23_022103_malignant1.TIF.xml
archive/Masks/ytma23_022103_malignant2.TIF
archive/Masks/ytma23_022103_malignant2.TIF.xml
archive/Masks/ytma23_022103_malignant3.TIF
archive/Masks/ytma23_022103_malignant3.TIF.xml
archive/Masks/ytma49_042003_benign1.TIF
archive/Masks/ytma49_042003_benign1.TIF.xml
archive/Masks/ytma49_042003_benign2.TIF
archive/Masks/ytma49_042003_benign2.TIF.xml
archive/Masks/ytma49_042003_benign3.TIF
archive/Masks/ytma49_042003_benign3.TIF.xml
archive/Masks/ytma49_042003_malignant1.TIF
archive/Masks/ytma49_042003_malignant1.TIF.xml
archive/Masks/ytma49_042003_malignant2.TIF
archive/Masks/ytma49_042003_malignant2.TIF.xml
archive/Masks/ytma49_042003_malignant3.TIF
archive/Masks/ytma49_042003_malignant3.TIF.xml
archive/Masks/ytma49_042203_benign1.TIF
archive/Masks/ytma49_042203_benign1.TIF.xml
archive/Masks/ytma49_042203_benign2.TIF
archive/Masks/ytma49_042203_benign2.TIF.xml
archive/Masks/ytma49_042203_benign3.TIF
archive/Masks/ytma49_042203_benign3.TIF.xml
archive/Masks/ytma49_042203_malignant1.TIF
archive/Masks/ytma49_042203_malignant1.TIF.xml
archive/Masks/ytma49_042203_malignant2.TIF
archive/Masks/ytma49_042203_malignant2.TIF.xml
archive/Masks/ytma49_042203_malignant3.TIF
archive/Masks/ytma49_042203_malignant3.TIF.xml
archive/Masks/ytma49_042403_benign1.TIF
archive/Masks/ytma49_042403_benign1.TIF.xml
archive/Masks/ytma49_042403_benign2.TIF
archive/Masks/ytma49_042403_benign2.TIF.xml
archive/Masks/ytma49_042403_benign3.TIF
archive/Masks/ytma49_042403_benign3.TIF.xml
archive/Masks/ytma49_042403_malignant1.TIF
archive/Masks/ytma49_042403_malignant1.TIF.xml
archive/Masks/ytma49_042403_malignant2.TIF
archive/Masks/ytma49_042403_malignant2.TIF.xml
archive/Masks/ytma49_042403_malignant3.TIF
archive/Masks/ytma49_042403_malignant3.TIF.xml
archive/Masks/ytma49_072303_benign1.TIF
archive/Masks/ytma49_072303_benign1.TIF.xml
archive/Masks/ytma49_072303_benign2.TIF
archive/Masks/ytma49_072303_benign2.TIF.xml
archive/Masks/ytma49_072303_malignant1.TIF
archive/Masks/ytma49_072303_malignant1.TIF.xml
archive/Masks/ytma49_072303_malignant2.TIF
archive/Masks/ytma49_072303_malignant2.TIF.xml
archive/Masks/ytma49_111003_benign1.TIF
archive/Masks/ytma49_111003_benign1.TIF.xml
archive/Masks/ytma49_111003_benign2.TIF
archive/Masks/ytma49_111003_benign2.TIF.xml
archive/Masks/ytma49_111003_benign3.TIF
archive/Masks/ytma49_111003_benign3.TIF.xml
archive/Masks/ytma49_111003_malignant1.TIF
archive/Masks/ytma49_111003_malignant1.TIF.xml
archive/Masks/ytma49_111003_malignant2.TIF
archive/Masks/ytma49_111003_malignant2.TIF.xml
archive/Masks/ytma49_111003_malignant3.TIF
archive/Masks/ytma49_111003_malignant3.TIF.xml
archive/Masks/ytma49_111303_benign1.TIF
archive/Masks/ytma49_111303_benign1.TIF.xml
archive/Masks/ytma49_111303_benign2.TIF
archive/Masks/ytma49_111303_benign2.TIF.xml
archive/Masks/ytma49_111303_benign3.TIF
archive/Masks/ytma49_111303_benign3.TIF.xml
archive/Masks/ytma49_111303_malignant1.TIF
archive/Masks/ytma49_111303_malignant1.TIF.xml
archive/Masks/ytma49_111303_malignant2.TIF
archive/Masks/ytma49_111303_malignant2.TIF.xml
archive/Masks/ytma49_111303_malignant3.TIF
archive/Masks/ytma49_111303_malignant3.TIF.xml
archive/Masks/ytma55_030603_benign1.TIF
archive/Masks/ytma55_030603_benign1.TIF.xml
archive/Masks/ytma55_030603_benign2.TIF
archive/Masks/ytma55_030603_benign2.TIF.xml
archive/Masks/ytma55_030603_benign3.TIF
archive/Masks/ytma55_030603_benign3.TIF.xml
archive/Masks/ytma55_030603_benign4.TIF
archive/Masks/ytma55_030603_benign4.TIF.xml
archive/Masks/ytma55_030603_benign5.TIF
archive/Masks/ytma55_030603_benign5.TIF.xml
archive/Masks/ytma55_030603_benign6.TIF
archive/Masks/ytma55_030603_benign6.TIF.xml
datasets-binary/test/images/ytma49_111303_benign2_ccd.tif
datasets-binary/test/images/ytma49_111303_benign3_ccd.tif
datasets-binary/test/images/ytma49_111303_malignant1_ccd.tif
datasets-binary/test/images/ytma49_111303_malignant2_ccd.tif
datasets-binary/test/images/ytma49_111303_malignant3_ccd.tif
datasets-binary/test/images/ytma55_030603_benign1_ccd.tif
datasets-binary/test/images/ytma55_030603_benign2_ccd.tif
datasets-binary/test/images/ytma55_030603_benign3_ccd.tif
datasets-binary/test/images/ytma55_030603_benign4_ccd.tif
datasets-binary/test/images/ytma55_030603_benign5_ccd.tif
datasets-binary/test/images/ytma55_030603_benign6_ccd.tif
datasets-binary/test/masks/ytma49_111303_benign2.TIF
datasets-binary/test/masks/ytma49_111303_benign3.TIF
datasets-binary/test/masks/ytma49_111303_malignant1.TIF
datasets-binary/test/masks/ytma49_111303_malignant2.TIF
datasets-binary/test/masks/ytma49_111303_malignant3.TIF
datasets-binary/test/masks/ytma55_030603_benign1.TIF
datasets-binary/test/masks/ytma55_030603_benign2.TIF
datasets-binary/test/masks/ytma55_030603_benign3.TIF
datasets-binary/test/masks/ytma55_030603_benign4.TIF
datasets-binary/test/masks/ytma55_030603_benign5.TIF
datasets-binary/test/masks/ytma55_030603_benign6.TIF
datasets-binary/train/images/ytma10_010704_benign1_ccd.tif
datasets-binary/train/images/ytma10_010704_benign2_ccd.tif
datasets-binary/train/images/ytma10_010704_benign3_ccd.tif
datasets-binary/train/images/ytma10_010704_malignant1_ccd.tif
datasets-binary/train/images/ytma10_010704_malignant2_ccd.tif
datasets-binary/train/images/ytma10_010704_malignant3_ccd.tif
datasets-binary/train/images/ytma12_010804_benign1_ccd.tif
datasets-binary/train/images/ytma12_010804_benign2_ccd.tif
datasets-binary/train/images/ytma12_010804_benign3_ccd.tif
datasets-binary/train/images/ytma12_010804_malignant1_ccd.tif
datasets-binary/train/images/ytma12_010804_malignant2_ccd.tif
datasets-binary/train/images/ytma12_010804_malignant3_ccd.tif
datasets-binary/train/images/ytma23_022103_benign1_ccd.tif
datasets-binary/train/images/ytma23_022103_benign2_ccd.tif
datasets-binary/train/images/ytma23_022103_benign3_ccd.tif
datasets-binary/train/images/ytma23_022103_malignant1_ccd.tif
datasets-binary/train/images/ytma23_022103_malignant2_ccd.tif
datasets-binary/train/images/ytma23_022103_malignant3_ccd.tif
datasets-binary/train/images/ytma49_042003_benign1_ccd.tif
datasets-binary/train/images/ytma49_042003_benign2_ccd.tif
datasets-binary/train/images/ytma49_042003_benign3_ccd.tif
datasets-binary/train/images/ytma49_042003_malignant1_ccd.tif
datasets-binary/train/images/ytma49_042003_malignant2_ccd.tif
datasets-binary/train/images/ytma49_042003_malignant3_ccd.tif
datasets-binary/train/images/ytma49_042203_benign1_ccd.tif
datasets-binary/train/images/ytma49_042203_benign2_ccd.tif
datasets-binary/train/images/ytma49_042203_benign3_ccd.tif
datasets-binary/train/images/ytma49_042203_malignant1_ccd.tif
datasets-binary/train/images/ytma49_042203_malignant2_ccd.tif
datasets-binary/train/images/ytma49_042203_malignant3_ccd.tif
datasets-binary/train/images/ytma49_042403_benign1_ccd.tif
datasets-binary/train/images/ytma49_042403_benign2_ccd.tif
datasets-binary/train/images/ytma49_042403_benign3_ccd.tif
datasets-binary/train/images/ytma49_042403_malignant1_ccd.tif
datasets-binary/train/images/ytma49_042403_malignant2_ccd.tif
datasets-binary/train/masks/ytma10_010704_benign1.TIF
datasets-binary/train/masks/ytma10_010704_benign2.TIF
datasets-binary/train/masks/ytma10_010704_benign3.TIF
datasets-binary/train/masks/ytma10_010704_malignant1.TIF
datasets-binary/train/masks/ytma10_010704_malignant2.TIF
datasets-binary/train/masks/ytma10_010704_malignant3.TIF
datasets-binary/train/masks/ytma12_010804_benign1.TIF
datasets-binary/train/masks/ytma12_010804_benign2.TIF
datasets-binary/train/masks/ytma12_010804_benign3.TIF
datasets-binary/train/masks/ytma12_010804_malignant1.TIF
datasets-binary/train/masks/ytma12_010804_malignant2.TIF
datasets-binary/train/masks/ytma12_010804_malignant3.TIF
datasets-binary/train/masks/ytma23_022103_benign1.TIF
datasets-binary/train/masks/ytma23_022103_benign2.TIF
datasets-binary/train/masks/ytma23_022103_benign3.TIF
datasets-binary/train/masks/ytma23_022103_malignant1.TIF
datasets-binary/train/masks/ytma23_022103_malignant2.TIF
datasets-binary/train/masks/ytma23_022103_malignant3.TIF
datasets-binary/train/masks/ytma49_042003_benign1.TIF
datasets-binary/train/masks/ytma49_042003_benign2.TIF
datasets-binary/train/masks/ytma49_042003_benign3.TIF
datasets-binary/train/masks/ytma49_042003_malignant1.TIF
datasets-binary/train/masks/ytma49_042003_malignant2.TIF
datasets-binary/train/masks/ytma49_042003_malignant3.TIF
datasets-binary/train/masks/ytma49_042203_benign1.TIF
datasets-binary/train/masks/ytma49_042203_benign2.TIF
datasets-binary/train/masks/ytma49_042203_benign3.TIF
datasets-binary/train/masks/ytma49_042203_malignant1.TIF
datasets-binary/train/masks/ytma49_042203_malignant2.TIF
datasets-binary/train/masks/ytma49_042203_malignant3.TIF
datasets-binary/train/masks/ytma49_042403_benign1.TIF
datasets-binary/train/masks/ytma49_042403_benign2.TIF
datasets-binary/train/masks/ytma49_042403_benign3.TIF
datasets-binary/train/masks/ytma49_042403_malignant1.TIF
datasets-binary/train/masks/ytma49_042403_malignant2.TIF
datasets-binary/validation/images/ytma49_042403_malignant3_ccd.tif
datasets-binary/validation/images/ytma49_072303_benign1_ccd.tif
datasets-binary/validation/images/ytma49_072303_benign2_ccd.tif
datasets-binary/validation/images/ytma49_072303_malignant1_ccd.tif
datasets-binary/validation/images/ytma49_072303_malignant2_ccd.tif
datasets-binary/validation/images/ytma49_111003_benign1_ccd.tif
datasets-binary/validation/images/ytma49_111003_benign2_ccd.tif
datasets-binary/validation/images/ytma49_111003_benign3_ccd.tif
datasets-binary/validation/images/ytma49_111003_malignant1_ccd.tif
datasets-binary/validation/images/ytma49_111003_malignant2_ccd.tif
datasets-binary/validation/images/ytma49_111003_malignant3_ccd.tif
datasets-binary/validation/images/ytma49_111303_benign1_ccd.tif
datasets-binary/validation/masks/ytma49_042403_malignant3.TIF
datasets-binary/validation/masks/ytma49_072303_benign1.TIF
datasets-binary/validation/masks/ytma49_072303_benign2.TIF
datasets-binary/validation/masks/ytma49_072303_malignant1.TIF
datasets-binary/validation/masks/ytma49_072303_malignant2.TIF
datasets-binary/validation/masks/ytma49_111003_benign1.TIF
datasets-binary/validation/masks/ytma49_111003_benign2.TIF
datasets-binary/validation/masks/ytma49_111003_benign3.TIF
datasets-binary/validation/masks/ytma49_111003_malignant1.TIF
datasets-binary/validation/masks/ytma49_111003_malignant2.TIF
datasets-binary/validation/masks/ytma49_111003_malignant3.TIF
datasets-binary/validation/masks/ytma49_111303_benign1.TIF
datasets-multi/test/images/ytma49_111303_benign2_ccd.tif
datasets-multi/test/images/ytma49_111303_benign3_ccd.tif
datasets-multi/test/images/ytma49_111303_malignant1_ccd.tif
datasets-multi/test/images/ytma49_111303_malignant2_ccd.tif
datasets-multi/test/images/ytma49_111303_malignant3_ccd.tif
datasets-multi/test/images/ytma55_030603_benign1_ccd.tif
datasets-multi/test/images/ytma55_030603_benign2_ccd.tif
datasets-multi/test/images/ytma55_030603_benign3_ccd.tif
datasets-multi/test/images/ytma55_030603_benign4_ccd.tif
datasets-multi/test/images/ytma55_030603_benign5_ccd.tif
datasets-multi/test/images/ytma55_030603_benign6_ccd.tif
datasets-multi/test/masks/benign/ytma49_111303_benign2.TIF
datasets-multi/test/masks/benign/ytma49_111303_benign3.TIF
datasets-multi/test/masks/benign/ytma55_030603_benign1.TIF
datasets-multi/test/masks/benign/ytma55_030603_benign2.TIF
datasets-multi/test/masks/benign/ytma55_030603_benign3.TIF
datasets-multi/test/masks/benign/ytma55_030603_benign4.TIF
datasets-multi/test/masks/benign/ytma55_030603_benign5.TIF
datasets-multi/test/masks/benign/ytma55_030603_benign6.TIF
datasets-multi/test/masks/malignant/ytma49_111303_malignant1.TIF
datasets-multi/test/masks/malignant/ytma49_111303_malignant2.TIF
datasets-multi/test/masks/malignant/ytma49_111303_malignant3.TIF
datasets-multi/train/images/ytma10_010704_benign1_ccd.tif
datasets-multi/train/images/ytma10_010704_benign2_ccd.tif
datasets-multi/train/images/ytma10_010704_benign3_ccd.tif
datasets-multi/train/images/ytma10_010704_malignant1_ccd.tif
datasets-multi/train/images/ytma10_010704_malignant2_ccd.tif
datasets-multi/train/images/ytma10_010704_malignant3_ccd.tif
datasets-multi/train/images/ytma12_010804_benign1_ccd.tif
datasets-multi/train/images/ytma12_010804_benign2_ccd.tif
datasets-multi/train/images/ytma12_010804_benign3_ccd.tif
datasets-multi/train/images/ytma12_010804_malignant1_ccd.tif
datasets-multi/train/images/ytma12_010804_malignant2_ccd.tif
datasets-multi/train/images/ytma12_010804_malignant3_ccd.tif
datasets-multi/train/images/ytma23_022103_benign1_ccd.tif
datasets-multi/train/images/ytma23_022103_benign2_ccd.tif
datasets-multi/train/images/ytma23_022103_benign3_ccd.tif
datasets-multi/train/images/ytma23_022103_malignant1_ccd.tif
datasets-multi/train/images/ytma23_022103_malignant2_ccd.tif
datasets-multi/train/images/ytma23_022103_malignant3_ccd.tif
datasets-multi/train/images/ytma49_042003_benign1_ccd.tif
datasets-multi/train/images/ytma49_042003_benign2_ccd.tif
datasets-multi/train/images/ytma49_042003_benign3_ccd.tif
datasets-multi/train/images/ytma49_042003_malignant1_ccd.tif
datasets-multi/train/images/ytma49_042003_malignant2_ccd.tif
datasets-multi/train/images/ytma49_042003_malignant3_ccd.tif
datasets-multi/train/images/ytma49_042203_benign1_ccd.tif
datasets-multi/train/images/ytma49_042203_benign2_ccd.tif
datasets-multi/train/images/ytma49_042203_benign3_ccd.tif
datasets-multi/train/images/ytma49_042203_malignant1_ccd.tif
datasets-multi/train/images/ytma49_042203_malignant2_ccd.tif
datasets-multi/train/images/ytma49_042203_malignant3_ccd.tif
datasets-multi/train/images/ytma49_042403_benign1_ccd.tif
datasets-multi/train/images/ytma49_042403_benign2_ccd.tif
datasets-multi/train/images/ytma49_042403_benign3_ccd.tif
datasets-multi/train/images/ytma49_042403_malignant1_ccd.tif
datasets-multi/train/images/ytma49_042403_malignant2_ccd.tif
datasets-multi/train/masks/benign/ytma10_010704_benign1.TIF
datasets-multi/train/masks/benign/ytma10_010704_benign2.TIF
datasets-multi/train/masks/benign/ytma10_010704_benign3.TIF
datasets-multi/train/masks/benign/ytma12_010804_benign1.TIF
datasets-multi/train/masks/benign/ytma12_010804_benign2.TIF
datasets-multi/train/masks/benign/ytma12_010804_benign3.TIF
datasets-multi/train/masks/benign/ytma23_022103_benign1.TIF
datasets-multi/train/masks/benign/ytma23_022103_benign2.TIF
datasets-multi/train/masks/benign/ytma23_022103_benign3.TIF
datasets-multi/train/masks/benign/ytma49_042003_benign1.TIF
datasets-multi/train/masks/benign/ytma49_042003_benign2.TIF
datasets-multi/train/masks/benign/ytma49_042003_benign3.TIF
datasets-multi/train/masks/benign/ytma49_042203_benign1.TIF
datasets-multi/train/masks/benign/ytma49_042203_benign2.TIF
datasets-multi/train/masks/benign/ytma49_042203_benign3.TIF
datasets-multi/train/masks/benign/ytma49_042403_benign1.TIF
datasets-multi/train/masks/benign/ytma49_042403_benign2.TIF
datasets-multi/train/masks/benign/ytma49_042403_benign3.TIF
datasets-multi/train/masks/malignant/ytma10_010704_malignant1.TIF
datasets-multi/train/masks/malignant/ytma10_010704_malignant2.TIF
datasets-multi/train/masks/malignant/ytma10_010704_malignant3.TIF
datasets-multi/train/masks/malignant/ytma12_010804_malignant1.TIF
datasets-multi/train/masks/malignant/ytma12_010804_malignant2.TIF
datasets-multi/train/masks/malignant/ytma12_010804_malignant3.TIF
datasets-multi/train/masks/malignant/ytma23_022103_malignant1.TIF
datasets-multi/train/masks/malignant/ytma23_022103_malignant2.TIF
datasets-multi/train/masks/malignant/ytma23_022103_malignant3.TIF
datasets-multi/train/masks/malignant/ytma49_042003_malignant1.TIF
datasets-multi/train/masks/malignant/ytma49_042003_malignant2.TIF
datasets-multi/train/masks/malignant/ytma49_042003_malignant3.TIF
datasets-multi/train/masks/malignant/ytma49_042203_malignant1.TIF
datasets-multi/train/masks/malignant/ytma49_042203_malignant2.TIF
datasets-multi/train/masks/malignant/ytma49_042203_malignant3.TIF
datasets-multi/train/masks/malignant/ytma49_042403_malignant1.TIF
datasets-multi/train/masks/malignant/ytma49_042403_malignant2.TIF
datasets-multi/validation/images/ytma49_042403_malignant3_ccd.tif
datasets-multi/validation/images/ytma49_072303_benign1_ccd.tif
datasets-multi/validation/images/ytma49_072303_benign2_ccd.tif
datasets-multi/validation/images/ytma49_072303_malignant1_ccd.tif
datasets-multi/validation/images/ytma49_072303_malignant2_ccd.tif
datasets-multi/validation/images/ytma49_111003_benign1_ccd.tif
datasets-multi/validation/images/ytma49_111003_benign2_ccd.tif
datasets-multi/validation/images/ytma49_111003_benign3_ccd.tif
datasets-multi/validation/images/ytma49_111003_malignant1_ccd.tif
datasets-multi/validation/images/ytma49_111003_malignant2_ccd.tif
datasets-multi/validation/images/ytma49_111003_malignant3_ccd.tif
datasets-multi/validation/images/ytma49_111303_benign1_ccd.tif
datasets-multi/validation/masks/benign/ytma49_072303_benign1.TIF
datasets-multi/validation/masks/benign/ytma49_072303_benign2.TIF
datasets-multi/validation/masks/benign/ytma49_111003_benign1.TIF
datasets-multi/validation/masks/benign/ytma49_111003_benign2.TIF
datasets-multi/validation/masks/benign/ytma49_111003_benign3.TIF
datasets-multi/validation/masks/benign/ytma49_111303_benign1.TIF
datasets-multi/validation/masks/malignant/ytma49_042403_malignant3.TIF
datasets-multi/validation/masks/malignant/ytma49_072303_malignant1.TIF
datasets-multi/validation/masks/malignant/ytma49_072303_malignant2.TIF
datasets-multi/validation/masks/malignant/ytma49_111003_malignant1.TIF
datasets-multi/validation/masks/malignant/ytma49_111003_malignant2.TIF
datasets-multi/validation/masks/malignant/ytma49_111003_malignant3.TIF
saved_models/FCN_8_base_3.data-00000-of-00002
saved_models/FCN_8_base_3.data-00001-of-00002
saved_models/FCN_8_base_3.index
saved_models/FCN_8_base_5.data-00000-of-00002
saved_models/FCN_8_base_5.data-00001-of-00002
saved_models/FCN_8_base_5.index
saved_models/FCN_8_base_6.data-00000-of-00002
saved_models/FCN_8_base_6.data-00001-of-00002
saved_models/FCN_8_base_6.index
saved_models/Unet_base_3.data-00000-of-00002
saved_models/Unet_base_3.data-00001-of-00002
saved_models/Unet_base_3.index
saved_models/Unet_base_6.data-00000-of-00002
saved_models/Unet_base_6.data-00001-of-00002
saved_models/Unet_base_6.index
tb_logs/FCN_8_base_5/train/events.out.tfevents.1630405878.DESKTOP-8R13C4D.15000.836.v2
tb_logs/FCN_8_base_5/train/events.out.tfevents.1630405884.DESKTOP-8R13C4D.profile-empty
tb_logs/FCN_8_base_5/train/plugins/profile/2021-08-31_11-31-24/local.trace
tb_logs/FCN_8_base_5/validation/events.out.tfevents.1630405889.DESKTOP-8R13C4D.15000.3672.v2
tb_logs/FCN_8_base_6/train/events.out.tfevents.1630409671.DESKTOP-8R13C4D.6740.836.v2
tb_logs/FCN_8_base_6/train/events.out.tfevents.1630409686.DESKTOP-8R13C4D.profile-empty
tb_logs/FCN_8_base_6/train/plugins/profile/2021-08-31_12-34-46/local.trace
tb_logs/FCN_8_base_6/validation/events.out.tfevents.1630409698.DESKTOP-8R13C4D.6740.3710.v2
tb_logs/FCN_8_base_7/train/events.out.tfevents.1630409492.DESKTOP-8R13C4D.8656.836.v2
tb_logs/FCN_8_base_7/train/events.out.tfevents.1630409510.DESKTOP-8R13C4D.profile-empty
tb_logs/FCN_8_base_7/train/plugins/profile/2021-08-31_12-31-50/local.trace
tb_logs/Unet_base_3/train/events.out.tfevents.1630406688.DESKTOP-8R13C4D.9580.1125.v2
tb_logs/Unet_base_3/train/events.out.tfevents.1630406694.DESKTOP-8R13C4D.profile-empty
tb_logs/Unet_base_3/train/plugins/profile/2021-08-31_11-44-54/local.trace
tb_logs/Unet_base_3/validation/events.out.tfevents.1630406696.DESKTOP-8R13C4D.9580.4703.v2
tb_logs/Unet_base_6/train/events.out.tfevents.1630407437.DESKTOP-8R13C4D.8312.1125.v2
tb_logs/Unet_base_6/train/events.out.tfevents.1630407446.DESKTOP-8R13C4D.profile-empty
tb_logs/Unet_base_6/train/plugins/profile/2021-08-31_11-57-26/local.trace
tb_logs/Unet_base_6/validation/events.out.tfevents.1630407469.DESKTOP-8R13C4D.8312.4926.v2
saved_models/checkpoint
